.acceuil-img img {
    width: 100vw;
    height: auto;
    display: block;
}


.logo img {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


header h1 {
    text-align: left;
    color: cornflowerblue;
}

.apercus-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.apercus-grid iframe {
    width: 255px;
    height: 500px;
}

iframe {
    border: none;
    border-radius: 10px;
}

.cadre {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadre iframe {
    background-color: white;
}


.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
}

.hover-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.image-container:hover .hover-text {
    display: block;
}

.liste-ville {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
}



