:root {
  margin-left: 25px;
  margin-right: 25px;
}

/* header */
header {
  display: flex;
  align-items: center;
  width: 90vw;
}

header svg {
  width: 30px;
}

button {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
}

header h1 {
  color: var(--couleur-1);
  font-size: 1.1rem;
  margin-left: -5px;
}

header div:first-child {
  width: 44vw;
  display: flex;
  gap: 10px;
}
/* landing */

.landing {
  margin-top: 15px;
  display: flex;
}

.landing img {
  width: 50vw;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.landing-text {
  width: 36vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.landing-text h1 {
  color: var(--couleur-6);
}

.landing-text h2 {
  font-weight: 600;
  font-size: 2em;
  color: var(--couleur-5);
}

.landing-text a {
  background-color: var(--couleur-10);
  color: white;
  font-weight: 600;
  border: solid 2px var(--couleur-5);
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  width: 75px;
}

.landing-text a:hover {
  background-color: var(--couleur-11);
}

.apercus-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.apercus-grid img {
  border-radius: 12px;
  object-fit: cover;
  width: 20vw;
  height: 200px;
}

.apercus-grid {
  width: 85vw;
  margin: 0 auto;
}

@media (max-width: 830px) {
  .landing {
    flex-direction: column;
  }

  .landing img {
    width: 85vw;
    height: 250px;
  }
}

@media (min-width: 831px) {
  .landing-text {
    margin-top: 5%;
    margin-left: 20px;
  }
}
